*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

    .image-overlay{
    width:100%;
    height:100%;
    background:black;
    opacity:.7;
    position:absolute;
}
.nav-links a{
    display:grid;
    text-decoration: none;
    place-items:center;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.go-Link{
      padding:20px 20px 20px;
      font-family: 'Poppins', sans-serif;
      padding-left: 24px;
      position: absolute;
      height: 60px;
      background-color: red;
      text-decoration: none;
      color: rgb(248, 246, 246);
      border: none;
      z-index: 1;
      display: inline-block;
      width: 66px;
      margin-bottom: 0px;
}
.input-Div{
    display:grid;
    place-items: center;
    background-image: url("Netflix-background.jpg");
    background-size:cover;
    background-color:blue;
    height:92vh;
    box-sizing: border-box;
    position:relative;
   
}
input{
    height:60px;
    /* padding: 10px 10px 0; */
    width: 300px;
    z-index: 2;
}
#searchInput{
    z-index:3;
}
#signupbtn{
    font-family: 'Poppins', sans-serif;
    background-color:rgb(229,9,20);
    border-radius:2px;
    font-size: 1em;
    color:rgb(248, 246, 246);
    height: 35px;
    width: 77px;
    border:none;
    z-index:1;
}
#signupbtn:hover{
    cursor:pointer;
}
button{
    background-color:red;
    color:rgb(248, 246, 246);
    height: 60px;
    width: 77px;
    border:none;
    z-index:1;
}
button:hover{
    background-color: rgb(202, 4, 4);
}
nav{
    display:flex;
    justify-content: space-around;
    align-items:center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color:black;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    position: absolute;
    margin-left: 2rem;
    margin-top: -19rem;
    color: white;
    font-size: 2.125rem;
    z-index: 1;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    position: absolute;
    margin-left: 0rem;
    margin-top: -11rem;
    color: white;
    font-size: 1.625rem;
    z-index: 1;
}
h4{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;  
    color: white;
    font-size: 20px;
    font-weight:500;
}
.logo{
display: grid;
place-items: center;
height:40px;
width:20px;
margin-right:50%;
background-size:contain;
background-repeat: no-repeat;
background-image:url("Netflix-1.png");
}
.section2{
    height:100vh;
     background-color:black;
    overflow-y: hidden;
}
.logo2{
    display: grid;
    place-items: center;
    height:200px;
    width:200px;
    margin-right:50%;
    background-size:contain;
background-repeat: no-repeat;
background-image:url("Netflix-2png.png");
    }
   .section2{
       display:flex;
       flex-direction: row;
   } 
   #info-div{
       display:flex;
       flex-direction:column;
       align-items:center;
       justify-content: center;
       height:100vh;
       width:50vw;
      
   }
   #info-div h2{
    font-family: 'Poppins', sans-serif;
    font-size:60px;
    color:white;
    transform: translateX(-700px);
   }
   #info-div h6{
    font-family: 'Poppins', sans-serif;
       font-size:20px;
       color:white;
       text-align: center;
   }
   #gif-div{
       width:50vw;
       height:100vh;
       background-color:black;
   }
   .section3{
    display:flex;
    flex-direction: row;
    background-color:black;
} 
#info-div1{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    height:100vh;
    width:50vw;
   
}
#info-div1 h2{
 font-family: 'Poppins', sans-serif;
 font-size:60px;
 color:white;
}
#info-div1 h6{
 font-family: 'Poppins', sans-serif;
    font-size:20px;
    color:white;
    text-align: center;
}
#gif-div1{
    width:50vw;
    height:100vh;
    background-color:black;
}
.section4{
    display:flex;
    flex-direction: row;
    background-color:black;
} 
#info-div2{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    height:100vh;
    width:50vw;
   
}
#info-div2 h2{
 font-family: 'Poppins', sans-serif;
 font-size:60px;
 color:white;
}
#info-div2 h6{
 font-family: 'Poppins', sans-serif;
    font-size:20px;
    color:white;
    text-align: center;
}
#gif-div2{
    width:50vw;
    height:100vh;
    background-color:black;
}
.section5{
    display:flex;
    flex-direction: row;
    background-color:black;
} 
#info-div3{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    height:100vh;
    width:50vw;
   
}
#info-div3 h2{
 font-family: 'Poppins', sans-serif;
 font-size:60px;
 color:white;
}
#info-div3 h6{
 font-family: 'Poppins', sans-serif;
    font-size:20px;
    color:white;
    text-align: center;
}
#gif-div3{
    width:50vw;
    height:100vh;
    background-color:black;
}
